<!DOCTYPE html>
<html lang="en" ng-app="<%= appname %>">
<head>
    <title>CounterDraft | <%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <% include ../partials/css.ejs %>
</head>
<body>
 <article id="counter-<%= articleID %>">
	<% include ../partials/loggedInNav.ejs %>
    <%- body %>
    </article>
</body>
<% include ../partials/footer.ejs %>
<div id="counter-modal" class="modal fade" role="dialog"></div>
<div id="counter-load">
    <div class="counter-loader"></div>
</div>
<script type="text/javascript">var pageScope = <%- JSON.stringify(data) %>;</script>
<% include ../partials/js.ejs %>
<% if (process.env.MODE  === 'development') { %>
   <script src="js/main/<%= mainjs %>-main.js"></script>
<% } %>
</html>
